.homepage-banner-container {
  height: calc(100vw + 15vh);
  width: 100vw;
  h1 {
    font-weight: $FontBold;
  }
  h2 {
    font-size: $H2FontSize;
    width: 75%;
  }
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.homepage-banner-video {
  position:absolute;
  height:100vw;
  width:100vw;
  top:15vh;
  left:0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.home-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
