// This document clears default font sizing, then applies custom sizing per VP size.

* {
  // clears default font-sizing, and applies custom font to all
  font-size: initial;
  font-family: 'Gothic A1', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}


// currently hardcoded fonts but needs work on completion of mobile first hp
$H1FontSize: 32px;
$H2FontSize: 26px;
$H3FontSize: 16px;
$H4FontSize: 12px;
$PFontSize: 1px;


$FontFamily: 'Gothic A1', sans-serif;
$FontBold: 900;
$FontThin: 100;
$FontNorm: 400;
