.how-it-works-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: $FontBold;
    font-size: $H2FontSize;
    margin: $SmallMargin;
  }

  img {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    object-position: center;
    border: $SmallBorder;
  }
}

.point-list {
  list-style: none;
  width: 90vw;
  margin: $SmallMargin 0;
  padding: 0;
}

.point-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-list-text {
  font-size: $ListFontSize;
  text-align: center;
  width: 85%;
}

.point-svg {
  width: 15%;
}
