.lightbox-container {
  h2 {
    font-size: $H2FontSize;
    font-weight: $FontBold;
    text-align: center;
    margin: $LargeMargin;
  }
}

.lightbox {
  margin: 0 auto;
  // border:1px solid red;
  display: flex;
  width: 87vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  img {
    border-radius: 1px;
    width: 32%;
    height: 25vw;
    object-fit: cover;
    object-position: center;
  }
}
