// Graphical variables
@import "./config/Fonts.scss";
@import "./config/Colors.scss";

// CSS partials
@import "components/Components";

// Static styling for general elements

body {
  background-color: $white;
  margin:0;
  width: 100vw;
}

.lightbox {
  img {
    width: 20%;
    object-fit: cover;
    object-position: center;
    height: 25vh;
  }
}
.side-image {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  object-position: center;
}
