// Graphical variables
@import "./Config/Fonts.scss";
@import "./Config/Colors.scss";

// Components
@import "./Components/Index.scss";

body {
  background-color: $white;
  margin:0;
  width: 100vw;
}

.lightbox {
  img {
    width: 20%;
    object-fit: cover;
    object-position: center;
    height: 25vh;
  }
}
.side-image {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  object-position: center;
}
